.chart {
    .axis {
      path,
      line {
        fill: none;
        stroke: #ddd;
        shape-rendering: crispEdges;
      }
      text{
        fill: #888;
      }
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
}